* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0px;
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 1rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}

.render-set {
  margin: 40px 0px 0px 0px;
}

.center {
  margin: auto;
  width: 46%;
  border: 3px solid #61ade4;
  padding: 10px;
}